

.quote-row-entry:hover td {
    cursor: pointer;
    background-color: rgb(247, 241, 241);
}

.popover-button {
    margin-left: 1%;
}

.quote-table {
    overflow: scroll;
    max-height: 70vh;
}

.quote-list-container {
    max-height: 54vh;
    overflow: scroll;
}