$vectorBlue: #224E90;
$vectorLightBlue: #335C9A;

// Container

.input-container {
  border: 1px solid $vectorBlue;
  height: 85%;
  overflow: scroll;
  display: flex;
  flex-direction: column;
}

// Row

// Col

// Text

.form-exit {
  position: absolute;
  font-size: 35px;
  left: 92%;
  color:#224E90;
  cursor: pointer;
}

.input-header {
  font-size: 27px;
  font-weight: 400;
  margin-bottom: 6%;
  color: #224E90;
  border-bottom: 2px solid $vectorBlue;
}

// Button

.submit-button {
  width: 33%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4%;
  margin-top: 2%;
}