
$vectorBlue: #224E90;
$vectorLightBlue: #335C9A;


.landing-footer-whole {
  margin-left: 5%;
  margin-right: 5%;
  background-color: white;
  border-top: 2px solid #224E90;
}

.landing-footer-body {
  width: 90%;
  margin-left: auto;
}

.landing-footer-row {
  margin-left: auto;
}

.new-quote-btn {
  margin-left: auto;
}