$vectorBlue: #224E90;
$vectorLightBlue: #335C9A;

.user-list-container {
  margin-top: 2vh;
  border: 2px solid $vectorBlue;
}

.user-list-title {
  margin-top: 13vh;
  font-size: 40px;
  text-align: center;

}

.user-list-row {
}