// MIXINS

$vectorBlue: #224E90;
$vectorLightBlue: #335C9A;

ul {
  list-style-type: none;
}

@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 77vh;
  min-width: 48vw;
  margin-top:6vh;
}

@mixin framing {
  border-style: solid;
  border-width: 4px;
  border-radius: 13%;
  border-color: $vectorBlue;
  overflow:auto;
}


.headbar, .bottombar {
  width: 12vw;
  border: 2px solid $vectorLightBlue;
  border-top: hidden;
  border-left: hidden;
  border-right: hidden;

  &.box {
    background-color: #e9e3e3d3;
  }
  &.bottombar {
    border-bottom: hidden;
    width: 100%;
    border-top: 2px solid $vectorLightBlue;
  }
}

.list-entry {
  border: 2px solid $vectorLightBlue;
  border-top: hidden;
  border-left: hidden;
  border-right: hidden;
}

.recent {
  border: 1px solid $vectorLightBlue;
  width: 50%;
}

.list-entry {
  font-size: 18px;
}

.info-box {
  display: flex;
  margin: 10%;
  justify-content: space-evenly;
}

.Viewmore {
  font-size: 17px;
}

.headbar-text {
  margin: 5%;
}

.number-list,.name-list {
  padding-left: 0;
}

.name-list {
  width: 50%;
}