// MIXINS

$vectorBlue: #224E90;
$vectorLightBlue: #335C9A;

ul {
  list-style-type: none;
}

@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 77vh;
  min-width: 48vw;
  margin-top:6vh;
}

@mixin framing {
  border-style: solid;
  border-width: 4px;
  border-radius: 13%;
  border-color: $vectorBlue;
  overflow:auto;
}

.recent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.headbar {
  width: 12vw;
  border: 2px solid $vectorLightBlue;
  border-top: hidden;
  border-left: hidden;
  border-right: hidden;

  &.box {
    background-color: #e9e3e3d3;
  }
}

.info-box {
  display: flex;
  margin: 10%;
}

.headbar-text {
  margin: 5%;
}
