// MIXINS

$vectorBlue: #224E90;
$vectorLightBlue: #335C9A;
$bgGray: #e9e3e3d3;
$borderGray: #948f8fd3;

@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 77vh;
  min-width: 48vw;
}

@mixin framing {
  border-style: solid;
  border-width: 4px;
  border-radius: 13%;
  border-color: $vectorBlue;
  overflow:auto;
}

// Variables

.App {
  margin-top: 10vh;
}

.landing {
  border: 0;
  margin-top: 2%;
  width: 90%;
  margin: auto;
  white-space: pre-wrap;
  justify-content: baseline;
  align-items: baseline;
}

.headbar {
  min-width: 100%;
  display: grid;
  flex-wrap: wrap;
  margin-top: 0;
}

.Landing-Logo {
  padding-left: 5%;
  text-align: Left;
}

.Landing-Header {
  text-align: center;
  min-width: 100%;
  border: hidden;
  border-radius: 0;
  border-width: 2px;
}

.center {
  min-width: 85vw;
  display: block;
  justify-content: space-evenly;
  border-top: 2px solid $vectorBlue;
  height: 100%;
}

.quotes, .orders {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 50%;
}

.search-container {
  margin-left: 65vw;
  height: 5vh;
  max-width: 50vw;
}

.quotes {
  margin-right: 2.5%;
}

.orders {
  margin-left: 2.5%;
}


// TEXT

.loading {
  display: flex;
  justify-content: center;
  padding-top: 20%;
}

.pagenum {
  margin-left: 3%;
  font-size: 18px;
  width: fit-content;
  text-align: left;
}

.leftarrow,.rightarrow {
  font-size: 30px;
  font-weight: 400;
  font-family: 'DM Sans', sans-serif;
}

.logout {
  right: 100%;
  margin-bottom: -25px;
  margin-top: 1%;
  margin-right: 5%;
  justify-self: right;
  font-size: 24px;
  color: $vectorBlue;
  cursor: pointer;
  &:hover {
    transition: all 300ms;
    transform:scale(1.2);
  }
}
.Landing-Heading {
  font-family: Kalam;
  font-size: 55px;
  font-weight: 600;
  color: $vectorBlue;
}

// HeadBar

.landing-headbar {
  min-width: 100%;
  display: inline-flex;
  height: 5%;
  border-bottom: 1px solid $borderGray;
  background-color: $bgGray;
}

.quotes-headbar {
  width: 10%;
  margin-left: auto;
  padding-top: 1%;
  padding-bottom: 1%;
  font-size: 20px;
  margin-top: 10px;
  color: #224E90;
  &:hover {
    cursor: pointer;
  }
}

.orders-headbar {
  width: 10%;
  padding-top: 1%;
  padding-bottom: 1%;
  font-size: 20px;
  color: #224E90;
  margin-top: 10px;
  &:hover {
    cursor: pointer;
  }

}



.search-input {
  background-color: white;
  border-radius: 10px;
  box-shadow: inset 0px 0px 20px -14px rgba(0,0,0,0.75);
  border: 1px solid black;
  width: 100%;
  height: 100%;
  &.show {
    transform: scaleX(0);
    transform-origin: left;
    animation: grow-left cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s forwards;
    display: inline-flex;
  }
  &.hide {
    transform-origin: left;
    animation: shrink-left cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s forwards;
  }
  &.first {
    display: none;
  }
}

// Categories

.categories {
  width: 97%;
  display: inline-flex;
  border-bottom: 2px solid black;
  margin-top: 2%;
  padding-bottom: 1%;
}

.row-container {
  max-height: 60vh;
  min-height: 60vh;
}

.hb {
  margin-left: auto;
}

// Footer

.landing-footer {
  display: inline-flex;
  min-width: 100%;
  height: 5vh;
  text-align: center;
  vertical-align: middle;
  align-items: center;
}

.pagechange  {
  padding-top: 4px;
  display: flex;
  margin: auto;
  margin-left: 60%;
  height: 100%;
  width: 30%;
}

.leftarrow {
  margin-left: 25%;
}


.leftarrow,.rightarrow,.firstpage,.secondpage,.thirdpage,.fourthpage {
  display: flex;
  border-radius: 7px;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 10%;
  font-size: 20px;
  border: 1px solid $borderGray;
  font-family: 'DM Sans', sans-serif;
  &:hover {
    cursor: pointer;
  }
}

// Conditional css

.active {
  background-color: white;
  border: 1px solid $borderGray;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom: 0;
  min-height: 10%;
}


// Buttons

.search-btn-container {
  margin-left: 1%;
  width: 3%;
  margin-top: 1%;
  margin-bottom: 1%;
  }

.search-btn {
  width: 100%;
  height: 100%;
}

.new-quote-container {
  margin-left: auto;
  margin-top: auto;
 justify-content: baseline;
}

.new-quote-btn {
  text-align: right;
}

.Add-Tooltip {
  position: relative;
  scale: 0;
  left: 25%;
  top: 6%;
  width:200px;
  padding:10px;
  border: 2px;
  visibility: hidden;
  font-family: 'DM Sans', sans-serif;
  background-color: $bgGray;
  color: black;
  &:hover {
      text-decoration: none;
      visibility: visible;
  }
  &:after {
    content: " ";
    height: 10%;
    position: absolute;
    top: 50%;
    left:100%; /* To the right of the tooltip */
    margin-top: -7px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent $bgGray;
  }
}

// Landing List


// Company Header

.company-header-whole {
  margin-bottom: 2%
}

.company-header {
  &.address,.phone,.info {
    padding-top: 0;
    margin-left: 1%;
  }
}

.address {
  margin-left: 1%;

}

.company-name {
  font-size: 40px;
  text-align: left;
}

.company-add,.company-email {
  font-size: 18px;
  text-align: left;
}

.company-phone {
  padding-left: 10px;
  text-align: left;
}


// Animations

@keyframes grow-left {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes shrink-left {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}