// MIXINS

$vectorBlue: #224E90;
$vectorLightBlue: #335C9A;
$bgGray: #e9e3e3d3;
$borderGray: #948f8fd3;

ul {
  list-style-type: none;
}

.headbar, .bottombar {
  width: 12vw;
  &.box {
    border-bottom: 1px solid #948f8fd3;
    background-color: #e9e3e3d3;
  }
  &.bottombar {
    border-bottom: hidden;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 100%;
    border-top: 1px solid #948f8fd3;
  }
}

.entry-container {
  min-width: 30vw;
}

.Add {
  border: 1px solid #948f8fd3;
  border-radius: 0;
  float: right;
  margin-right: 3%;
  margin-top: 3%;
}

.Add-text {
  font-size: 40px;
  font-weight: 600;
  color: #948f8fd3;
}





.recent {
  border: 1px solid #948f8fd3;

}

.list-entry {
  font-size: 18px;
}


.large-box {
  display: flex;
  margin: 10%;
  justify-content: space-evenly;
}

.Viewmore {
  font-size: 18px;
  &:hover {
    cursor: pointer;
  }
}

.headbar-text,.Viewmore {
  font-family: 'DM Sans', sans-serif;
}

.headbar-text {
  font-size: 22px;
  margin: 3%;
}

.number-list,.name-list {
  padding-left: 0;
}

.name-list {
  width: 50%;
}

// Add Tooltip




// Add Button
.Add {
  background-image: linear-gradient(#f7f8fa ,#e7e9ec);
  border-color: #adb1b8 #a2a6ac #8d9096;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  box-shadow: rgba(255,255,255,.6) 0 1px 0 inset;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember",Arial,sans-serif;
  font-size: 14px;
  height: 10%;
  font-size: 13px;
  outline: 0;
  overflow: hidden;
  padding: 0 11px;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.Add:active {
  border-bottom-color: #a2a6ac;
}

.Add:active:hover {
  border-bottom-color: #a2a6ac;
}

.Add:hover {
  border-color: #a2a6ac #979aa1 #82858a;
  &.Add-Tooltip {
    visibility: visible;
  }
}

.Add:focus {
  border-color: #e77600;
  box-shadow: rgba(228, 121, 17, .5) 0 0 3px 2px;
  outline: 0;
}