
// MIXINS

@mixin flex {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 13vh;
}

button {
  cursor: pointer;
}

@mixin framing {
  border-width: 4px;
  border-color: $vectorBlue;
  overflow:auto;
}

// Variables

$vectorBlue: #224E90;
$vectorLightBlue: #335C9A;

// Framing

.App {
  @include flex;
}

.frame {
  @include flex;
  @include framing;
  flex-wrap: wrap;
  &.Login {
    border: 2px solid $vectorBlue;
    position: absolute;
    background-color: white;
    flex-direction: column;
    justify-content:space-around;
  }
}

.email {
  padding-bottom: 10%;
  padding-top: 7%;
}

// Containers

.Container {
  @include framing;
  border-width: 0px;

  &.Logo {
    margin-top: 5%;
    top: 20%;
    width: 13%;
  }

  &.Header {
    border-radius: 0px;
    border-width: 0px;
    top: 40%;
    width: 100%;
  }

  &.input {
    margin-top: -10%;
    border-radius: 0px;
    border-width: 0px;
  }

  &.forgot {
    border-width: 2px;
    width: 100%;
    padding: auto;
  }
}


// Text

.forgotText {
  font-size: large;
  color:#335C9A;
  position: relative;
  &:hover {
    transition: all 300ms;
    transform:scale(1.2);
  }
  cursor: pointer;
}

.Heading {
  font-family: Kalam;
  font-size: 50px;
  font-weight: 600;
  color: $vectorBlue;
}

// Images


.Logo {
  max-height: 100%;
  min-height: 100%;
  min-width: 100%;
}

.Logoimg {
  width: 100%
}

// Buttons

.button {
  border-radius: 13px;
  color: white;
  padding: 3px 10px;
  font-size: 12px;
  border: 2px solid $vectorLightBlue;

  &.login {
  background-color: $vectorBlue;
  width: 20%;
  font-size:x-large;
  }
}

// Input Fields
.input{
  font-size: 24px;
  border-width: 4px;
  border-radius: 13px;
  border-color: $vectorBlue;
}

// Bootstrap

.login-body {
  text-align: left;
  align-content: center;
  width: 100%;
}

.logo-header{
  align-self: center;
  border-bottom: 2px solid $vectorBlue;
  margin-bottom: 5%;
  padding: 0 0 !important;

}

.login-body {
  justify-content: center;
}


.email-login {
  margin-left: 1.5vw;
}

.password-login {
  margin-left: 1.5vw;
  margin-bottom: 2%;
}

.login-button-row {
  justify-content: center;
}

.btn-primary, .btn-primary:active, .btn-primary:visited {
  background-color: $vectorBlue !important;
}
.btn-primary:hover {
  background-color: $vectorLightBlue !important;
}

.header-poly {
  background-color: #183b6e;
}

.poly-left {
  clip-path: polygon(0% 0%, 50% 0%, 100% 100%, 0% 100%);
}

.poly-right {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 50% 100%);
}