
$vectorBlue: #224E90;
$vectorLightBlue: #335C9A;
$bgGray: #e9e3e3d3;
$borderGray: #948f8fd3;

.Entry-frame {
  display: inline-flex;
  width: 40vw;
  margin-left: 3vw;
  height: 90vh;
  border: 1px solid black;
  margin-top: 3vh;

}