
$vectorBlue: #224E90;
$vectorLightBlue: #335C9A;
$bgGray: #e9e3e3d3;
$borderGray: #948f8fd3;

.Entry-frame {
  display: none;
  margin-left: 3vw;
  width: 1vw;
  border: 1px solid black;
  margin-top: 3vh;
  transition: all 700ms;
  &.init {
    display: inline-flex;
    position: absolute;
    width: 40vw;
    height: 90vh;
    animation: fade-in-right ease 1000ms forwards;
  }
  @keyframes fade-in-right {
    from {
      opacity: 0;
      transform: translateX(-15px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  // animation: fadeIn 1s;
  // @keyframes fadeIn {
  //   0% { opacity: 0; }
  //   100% { opacity: 1; }
  // }
}

.Form-container {
  width: 100%;

}

.Input-container {
  width: 100%;
  display: inline-flex;
  margin-top: 5%;
  margin-left: 10%;
}

.form-input {
  border: 1px solid black;
  width: 100%;
  height: 100%;
  display: inline-flex;
  flex-direction: column;
}

label {
  font-size: 24px;
  font-family: 'DM Sans', sans-serif;
  margin-top: 5%;
}

// Input boxes

.Height-input, .Label-input, .Width-input {
  float: right;
  margin-right: 40%;
}


.form-submit {
  max-width: 20%;
}
