
$vectorBlue: #224E90;
$vectorLightBlue: #335C9A;
$bgGray: #e9e3e3d3;
$borderGray: #948f8fd3;

.Entry-frame {
  display: none;
  margin-left: 3vw;
  width: 1vw;
  border: 1px solid black;
  margin-top: 3vh;
  transition: all 700ms;
  justify-content: center;
  &.init {
    display: inline-flex;
    flex-wrap: wrap;
    position: absolute;
    width: 40vw;
    animation: fade-in-right ease 1000ms forwards;
  }
  @keyframes fade-in-right {
    from {
      opacity: 0;
      transform: translateX(-15px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  // animation: fadeIn 1s;
  // @keyframes fadeIn {
  //   0% { opacity: 0; }
  //   100% { opacity: 1; }
  // }
}

.frame-dd {
  flex-direction: row;
}


.Input-container {
  width: 66%;
  height: 83vh;
}

.form-input {
  width: 100%;
  height: 100%;
  display: inline-flex;
  flex-direction: column;
}

label {
  font-size: 22px;
  font-family: 'DM Sans', sans-serif;
  margin-top: 5%;
}

// Text

.x-button {
  font-size: xx-large;
  position: absolute;
  top: 1%;
  right: 3%;
  &:hover {
    cursor: pointer;
  }
}

.form-header {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 3%;
}

.form-header-text {
  font-size: xx-large;
  color: #224E90;
}

.item-id-text, .height-id-text, .width-id-text, .frame-id-text {
  margin-left: 10%;
}

// Full Input Row

.item-id, .height-id, .width-id, .frame-id {
  display: inline-flex;
  margin-top: 8%;
}

// Input boxes

.Height-input, .Label-input, .Width-input {
  margin-left: auto;
  margin-right: 10%;
}


.form-submit {
  position: absolute;
  color: #224E90;
  width: fit-content;
  font-size: xx-large;
  left: 39%;
  bottom: 3%;
}

// Dropdowns

.frame-dropdown {
  margin-left: auto;
  margin-right: 10%;
}

// Button

.selection-container {
  display: inline-flex;
  margin-top: 5%;
}

.single-door, .double-door {
  display: flex;
  justify-content: center;
  margin-left: auto;
}

.button-headers {
  width: 100%;
  display: flex;
}

.button-headers-single, .button-headers-double {
  margin-top: 5%;
  width: 100%;
  display: flex;
  justify-content: center;
}