
$borderGray: #948f8fd3;
$bgGray: #e9e3e3d3;


// ****** Framing ******

.QuotePage {
  margin: 0;
}



.quote {
  float:right;
  margin-right: 25vw;
  margin-top: 3vh;
  border: 1px solid black;
  width: 50vw;
  height: 90vh;
  transition: all 700ms;
  &.init {
    margin-right: 1vw;
    transition: all 300ms;
  }
}

// ****** Containers ******

// Info Header
.quote-header {
  height: 25%;
  margin: 1%;
}

.quote-info {
  border: 1px solid $borderGray;
  border-bottom-left-radius: 2%;
  border-bottom-right-radius: 2%;
  width: auto;
  height: 65%;
  margin: 1%;
}

.quote-info-header {
  background-color: $bgGray;
  display: flex;
  width: 100%;
  height: 5%;
}

.quote-top {
  white-space: nowrap;
  text-align: center;
  padding-top: 3px;
  border-left: 1px solid $borderGray;
  &.Line-num {
    border-left: 0px solid $borderGray;
    width: 5%;
  }
  &.Item-ID {
    width: 15%;
  }
  &.Frame-type{
    width: 11%;
  }
  &.Hinge{
    width: 11%;
  }
  &.Item-Description{
    width: 53%;
  }
  &.Qty{
    width: 5%;
  }
}

// Info Rows




// ****** Buttons ******

.back-btn{
  position: absolute;
  right: 40px;
  bottom: 10px;

}

/* CSS */


// ****** Text ******

.quote-top {
  font-family: 'DM Sans', sans-serif;
}