

.customer-check-label {
  font-size: 11px;
}

.left {
  padding-bottom: 2%;

}

.submit-btn {
  width: 15%;
  height: 10%;
  margin-left: auto;
  margin-right: 8%;
  justify-content: center;
  margin-top: 4%;
}