
$vectorBlue: #224E90;
$vectorLightBlue: #335C9A;




.info-box {
  margin: auto;
  display: flex;
  white-space: nowrap;
  border-bottom: 2px solid #948f8fd3;
  width: 97%;
  padding-top: 1%;
  padding-bottom: 1%;

}

.hb {
  text-align: left;
  font-size: 15 px;
  font-family: 'DM Sans',c sans-serif;
  margin-right: auto;
  &.Number {
    margin-left: 6%;
    width: 10%;
  }
  &.Name {
    width: 25%;
    margin-left: 10%;
  }
  &.Client {
    margin-left: 10%;
    width: 30%;
  }
  &.Date {
    width: 15%;
    margin-right: 6%;
    margin-left: 10%;
  }
}

.options-box {
  display: flex;
  width: 4%;
  justify-content: center;
  border-radius: 5px;
  margin-right: 2%;
  &:hover {
    cursor: pointer;
    transition: all 300ms;
    transform:scale(1.2);
  }
  transition: all 300ms;
  transform: scale(1);
  &.headbar-box {
    visibility: hidden;
  }
}

.options-list {
  position: absolute;
  background-color: white;
  visibility: hidden;
  display: flex;
  left: 74%;
  flex-direction: column;
  width: 8%;
  height: 10%;
  border: 1px solid black;
  font-size: 17px;
  text-align: left;
  &.show {
    visibility: visible;
  }
  &.options-delete{
    border: 0px;
  }
}

.show {
  visibility: visible;
}

.options-view {
  border-bottom: 1px solid black;
}

.options-edit {
  border-bottom: 1px solid black;

}


