$vectorBlue: #224E90;
$vectorLightBlue: #335C9A;

.modal-title {
  font-size: 30px;
  margin-left: auto;
}

.edit-btn {
  padding: 4px 8px;
  margin-right: auto;
}

.modal-body {
  font-size: 20px;
}

.row{
  padding: 8px;
}

.header {
  background:
    linear-gradient(
      to right,
      $vectorBlue 0%,
      white 70%
    )
    left
    bottom
    no-repeat;
    background-size: 100% 2px;
}