
$vectorBlue: #224E90;
$vectorLightBlue: #335C9A;

.nav-body {
  border-bottom: 2px solid #224E90;
  font-size: 16px;
}

.img-container {
  width: 15%;
}

.nav-left {
  margin-right: auto;
}

.user-nav {
  margin-right: 5%;
}


.Logoimg {
  // width: 50%;
}

.link {

}