
.modal-title{
  font-size: 30px;
  margin-left: auto;
}

.modal-dialog-right {
  margin-left: -25%;
}

.modal-backdrop {
  opacity: 0.1 !important;
}



.new-row-modal{
  float: left;
}

.last-edited {
  padding-left: 1%;
}

.input-label {
  font-size: medium;
}

.modal-row {
  justify-content: center;
  padding-bottom: 3%;
}


.floating-label {
  font-size: 25;
}

.single-box, .double-box {
  display: flex;
  align-items: center;
}

.single-box-text, .double-box-text {
  padding-right: 10%;
}

