
.modal-title{
  font-size: 30px;
  margin-left: auto;
}

.new-row-modal{
  float: left;
}

.last-edited {
  padding-left: 1%;
}

.modal-row {
  justify-content: center;
  padding-bottom: 5%;
}

.single-box, .double-box {
  display: flex;
  align-items: center;
}

.single-box-text, .double-box-text {
  padding-right: 10%;
}

.checked {

}

.boxes {
  display: flex;
}