
// Containers

.form-control {
  border-radius: 0;

}

.boot-search-input {
  margin-right: 0;
  padding: 0;
}

// Button

.search-btn {
  width: 4vw;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}